body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #555;
}

a {
    display: inline-block;
    background-color: #ffffff;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 10px 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

a:hover {
    background-color: #000000;
}

button {
    display: inline-block;
    background-color: #c00f0fc5;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    margin: 10px 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f7f7f7;
}

select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #000000;
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e8eaf6;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: inline;
}
